{% import "_includes/forms" as forms %}
{% import "froalaEditor/_includes/macros" as macros %}

{% set uploadInstructions = 'Where should files be uploaded when they are dragged directly onto the field, or uploaded from the front end?' %}
{% set uploadInstructions = uploadInstructions ~ ' Note that the subfolder path can contain variables like <code>{slug}</code> or <code>{author.username}</code>.' %}

{{ forms.field({
    label: 'Images Location'|t,
    instructions: uploadInstructions|t,
    errors: settings.getErrors('assetsImagesSubPath')
}, macros.uploadLocationInput('assetsImages', settings, sourceOptions)) }}

{{ forms.field({
    label: 'Files Location'|t,
    instructions: uploadInstructions|t,
    errors: settings.getErrors('assetsFilesSubPath')
}, macros.uploadLocationInput('assetsFiles', settings, sourceOptions)) }}

<hr>

{{ forms.field({
    label: 'Custom CSS File'|t,
    instructions: 'Include a custom style file for the editor to display content in your style. This file path could be a plugin resource or should be a relative to your site\'s document root path.'|t,
    errors: settings.getErrors('customCssFile')
}, macros.customCssInput('customCss', settings)) }}

{{ forms.hidden({
    name: 'customCssClasses',
    value: ''
}) }}

{{ forms.editableTableField({
    id: 'customCssClasses',
    name: 'customCssClasses',
    label: 'Paragraph CSS Classes'|t,
    instructions: 'Add extra Paragraph Style classes.'|t,
    rows: settings.customCssClasses,
    cols: {
        className: {
            heading: 'CSS Class Name(s))'|t,
            type: 'text'
        },
        displayName: {
            heading: 'Display Name'|t,
            type: 'text'
        }
    }
}) }}

{{ forms.lightswitchField({
    id: 'froala-custom-css-classes-override',
    name: 'customCssClassesOverride',
    label: 'Override CSS settings' | t('froala-editor'),
    instructions: 'Override the plugin CSS settings instead of concatenate them together.' | t('froala-editor')
}) }}

<hr>

{{ forms.checkboxSelectField({
    label: 'Enabled Plugins'|t,
    instructions: 'Enable or disable plugins to use for the editor.'|t,
    id: 'enabledPlugins',
    name: 'enabledPlugins',
    options: editorPlugins,
    values: settings.enabledPlugins
}) }}

<hr>

{{ forms.selectField({
    id: 'froala-editor-config',
    label: "Custom Editor Config"|t(),
    name: 'editorConfig',
    options: editorConfigOptions,
    value: settings.editorConfig,
    instructions: "You can save custom {name} configs as {ext} files in {path}."|t({
        name: 'Froala Editor',
        ext: '`.json`',
        path: '`config/froalaeditor/`'
    }) ~
    ' <a href="https://www.froala.com/wysiwyg-editor/docs/options" target="_blank">' ~ "View available options"|t ~ '</a>'
}) }}